<div class="relative text-right w-36">
  <button
    type="button"
    class="text-primary-dark text-xl"
    {{on "click" this.toggleSortDropdown}}
  >Sort</button>
  <div
    class="absolute bg-primary-dark text-left w-full flex flex-col rounded-md px-2 py-1
      {{if this.hidden 'hidden'}}"
    role="menu"
  >
    <ul>
      <li>
        <button
          type="button"
          {{on "click" (fn this.sortAchievements "date-new")}}
        >Date (new)</button>
      </li>
      <li>
        <button
          type="button"
          {{on "click" (fn this.sortAchievements "date-old")}}
        >Date (old)</button>
      </li>
      <li>
        <button
          type="button"
          {{on "click" (fn this.sortAchievements "rarity-most")}}
        >Rarity (most rare)</button>
      </li>
      <li>
        <button
          type="button"
          {{on "click" (fn this.sortAchievements "rarity-least")}}
        >Rarity (least rare)</button>
      </li>
    </ul>
  </div>
</div>