<div class="relative text-right w-36">
  <button
    type="button"
    class="text-primary-dark text-xl"
    {{on "click" this.toggleSortDropdown}}
  >Sort</button>
  <div
    class="absolute bg-primary-dark text-left w-full flex flex-col rounded-md px-2 py-1
      {{if this.hidden 'hidden'}}"
    role="menu"
  >
    {{! look into turning this into something like a radio group, handling
  active class might be easier }}
    <div class="flex flex-col gap-2 items-start">
      <button
        type="button"
        class="text-sm {{if this.activeDateNewSort 'font-semibold' ''}}"
        {{on "click" (fn this.sortAchievements "date-new")}}
      >Date (new)</button>
      <button
        type="button"
        class="text-sm {{if this.activeDateOldSort 'font-semibold' ''}}"
        {{on "click" (fn this.sortAchievements "date-old")}}
      >Date (old)</button>
      <button
        type="button"
        class="text-sm {{if this.activeRarityMostSort 'font-semibold' ''}}"
        {{on "click" (fn this.sortAchievements "rarity-most")}}
      >Rarity (most rare)</button>
      <button
        type="button"
        class="text-sm {{if this.activeRarityLeastSort 'font-semibold' ''}}"
        {{on "click" (fn this.sortAchievements "rarity-least")}}
      >Rarity (least rare)</button>
    </div>
  </div>
</div>